@import "_helpers/_all"

// +font-face("Roboto", "Roboto/Roboto-Regular", 400)

body
	min-width: 320px
	position: relative
	overflow-x: hidden
	font-family: sans-serif

.container
	max-width: $container-width +px
	margin: 0 auto
	position: relative
	+r($container-width)
		margin: 0 20px


@import "_blocks/_all"
