//- begin container
.container
  header.main-header header
  //- svg(xmlns:xlink='http://www.w3.org/1999/xlink' class='icon icon-facebook')
  //-   use(xlink:href='images/sprite.svg#facebook')
//- end container
