meta(charset="utf-8")
meta(name='description', content='')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
//- meta(property='og:image', content='images/image.jpg')

link(rel='apple-touch-icon', sizes='180x180', href='images/apple-icon-180x180.png')
link(rel='icon', type='image/png', sizes='32x32', href='images/favicon-32x32.png')
link(rel='shortcut icon', href='images/favicon.ico')
//- Chrome, Firefox OS and Opera
meta(name='theme-color', content='#000')
//- Windows Phone
meta(name='msapplication-navbutton-color', content='#000')
//- iOS Safari
meta(name='apple-mobile-web-app-status-bar-style', content='#000')
link( rel="stylesheet" href="styles/app.sass" )