doctype html
html(lang="ru-RU")
	head
		title title
		meta( name="description" content="" )
		include pug/head.pug
	body
		include ./pug/header.pug
		include ./pug/footer.pug
		script( src="/index.js" )


